:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --color-neutral-50: 250, 250, 250;
  --color-neutral-100: 244, 244, 245;
  --color-neutral-200: 228, 228, 231;
  --color-neutral-300: 212, 212, 216;
  --color-neutral-400: 161, 161, 170;
  --color-neutral-500: 113, 113, 122;
  --color-neutral-600: 82, 82, 91;
  --color-neutral-700: 63, 63, 70;
  --color-neutral-800: 39, 39, 42;
  --color-neutral-900: 24, 24, 27;
  /* Violet */
  --color-primary-50: 246, 241, 254;
  --color-primary-100: 237, 226, 253;
  --color-primary-200: 223, 202, 252;
  --color-primary-300: 205, 173, 250;
  --color-primary-400: 189, 147, 249;
  --color-primary-500: 152, 86, 246;
  --color-primary-600: 114, 23, 242;
  --color-primary-700: 85, 10, 188;
  --color-primary-800: 56, 7, 126;
  --color-primary-900: 28, 3, 63;
  --color-primary-950: 13, 2, 29;
  /* Green */
  --color-secondary-50: 235, 254, 240;
  --color-secondary-100: 210, 254, 221;
  --color-secondary-200: 166, 252, 187;
  --color-secondary-300: 126, 251, 157;
  --color-secondary-400: 80, 250, 123;
  --color-secondary-500: 27, 248, 82;
  --color-secondary-600: 6, 213, 58;
  --color-secondary-700: 5, 159, 43;
  --color-secondary-800: 3, 109, 30;
  --color-secondary-900: 2, 55, 15;
  --color-secondary-950: 1, 25, 7;
}
