:root {
--color-neutral: 248,248,242;
--color-neutral-50: 240,241,244;
--color-neutral-100: 226,227,233;
--color-neutral-200: 196,199,212;
--color-neutral-300: 164,168,188;
--color-neutral-400: 135,140,166;
--color-neutral-500: 106,112,144;
--color-neutral-600: 85,89,114;
--color-neutral-700: 63,66,85;
--color-neutral-800: 40,42,54;
--color-neutral-900: 20,21,26;
--color-neutral-950: 11,11,15;
--color-primary-50: 246,241,254;
--color-primary-100: 237,226,253;
--color-primary-200: 223,202,252;
--color-primary-300: 205,173,250;
--color-primary-400: 189,147,249;
--color-primary-500: 152,86,246;
--color-primary-600: 114,23,242;
--color-primary-700: 85,10,188;
--color-primary-800: 56,7,126;
--color-primary-900: 28,3,63;
--color-primary-950: 13,2,29;
--color-secondary-50: 235,254,240;
--color-secondary-100: 210,254,221;
--color-secondary-200: 166,252,187;
--color-secondary-300: 126,251,157;
--color-secondary-400: 80,250,123;
--color-secondary-500: 27,248,82;
--color-secondary-600: 6,213,58;
--color-secondary-700: 5,159,43;
--color-secondary-800: 3,109,30;
--color-secondary-900: 2,55,15;
--color-secondary-950: 1,25,7;
}
